@import url("https://fonts.googleapis.com/css?family=Nunito");

body {
    background-color: #ffffff;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    line-height: 1.6rem;
    /* overflow: hidden; */
}

/* 
.nav-tag-cnpi a:link {
    color: #000 !important;
}

.nav-tag-cnpi a:active {
    color: #000 !important;
}

.nav-tag-cnpi a:visited {
    color: #000 !important;
} */

.hidden {
    display: none;
}

a {
    text-decoration: none;
}

.cnpi a:hover {
    text-decoration: none;
    background-color: #ffc107 !important;
}

/* 
.search-box {
    position: relative !important;
    top: -39px;
    right: -493px;
} */


.banner {
    height: 50%;
    width: 50%;
}

/* .bg_theme {
    background-image: url('../img/bg_theme.jpg');
    width: 100%;
} */


.trex-img {
    height: 350px;
    width: 350px;
    margin: 25px;
}

.details {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 900px;
}

.db_form {
    max-width: 900px;
    min-width: 350px;
    padding: 0 20px;
    margin-top: 20px;
}


/* Loaders */
.hidden {
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
}

.loader-back {
    z-index: 9999;
    display: block;
    margin: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    inset: 0;
    background: #fff;
    position: fixed;
    animation: fadeOut 10s;
    animation-fill-mode: forwards;
}

.containerX {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 10%;
    flex-wrap: wrap;
}

.loader {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

@keyframes load {
    50% {
        transform: rotatez(180deg) scale(0.2);
        border-color: orange;
    }

    100% {
        transform: rotatez(360deg) scale(1.1);
    }
}

@keyframes load3 {
    50% {
        transform: rotatez(180deg) scale(1.5);
        border-style: dotted;
    }

    100% {
        transform: rotatez(360deg) scale(0.9);
    }
}

.loader3::before {
    content: "";
    color: white;
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 50%;
    border: 15px solid blue;
    border-color: #1565C0 #26C6DA;
    animation: load3 5s infinite;
}


@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.responsive {
    width: 100%;
    max-width: 700px;
    height: auto;
}

.responsive2 {
    width: 650px;
    max-width: 90%;
    height: auto;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


.post-view {
    box-shadow: 0 0 5px #0003;
    margin-left: 3px;
    background-color: #fff;
}

.post-img {
    height: 100px;
    object-fit: fill;
    margin-left: 10px;
}

@media screen and (max-width: 960px) {
    .post-view {
        display: block;
    }

    .post-img {
        height: 50vw;
        object-fit: fill;
        margin-left: 10px;
    }

    .post-elements {
        display: inline;
    }
}

.home-page {
    background: #de6161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2657eb, #de6161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}